/*
Theme Name: Abalesbois
Text Domain: abalesbois
Version: 1.8
Description: Oui.
Author: Moi
Background: 
*/

@font-face {
    font-family: Florest;
    src: url('./fonts/HoltwoodOneSC-Regular.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    color: #23282d;
    font-family: Florest, Arial, sans-serif;
    margin: 0;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #2980b9;
    text-decoration: underline;
}

input[type="text"] {
    border-radius: 4px;
    border: none;
    padding: 10px;
    border: 1px solid #23282d;
}

button, input[type="submit"] {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #23282d;
    color: #3498db;
    padding: 10px;
}

/* --> Header <-- */

#header {
    margin: 0;
    padding: 40px 0;
    background-color: #295029;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

.header-menu {
    margin: 0;
    padding: 40px 0 0 0;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    transition: all 1s;

}

.header-menu .menu-item {
    padding: 0 100px;
    list-style-type: none;
    transition: all 1s;
}

.menu-item a {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
    transition: all 1s;
}

.menu-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transition: all 1s;
}

.menu-item a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: all 1s;
}

.logo-content {
    display: flex;
    justify-content: center;
    transition: all 1s;
}

.header-content {
    width: 75%;
    height: 100%;
    text-align: center;
    transition: all 1s;
}

.logo-content img {
    width: 65%;
    transition: all 1s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 1s;
}

@media (max-width: 480px) {
    .logo-content img {
        width: 80%;
    }
}

/* --> Fin Header <-- */

/* Galerie */

.gallery-title {
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-weight: normal;
}

/* Page Contact */

.contact-title {
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-weight: normal;
}

input[type="email"], textarea {
    border-radius: 4px;
    border: none;
    padding: 10px;
    border: 1px solid #23282d;
}

textarea {
    max-width: 330px;
    max-height: 200px;
}

.wpcf7 {
    text-align: center;
}

.wpcf7-file {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    width: 330px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #23282d;
    border: #23282d solid 2px;
    background-color: white;
}

input[type="submit"]:hover {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid 2px white;
    background-color: #23282d;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

/* --> Content <-- */

#content {
    width: 100%;
}

#wrap {
    display: flex;
    /* width: 960px; */
    /* margin: 0 auto; */
    justify-content: center;
    width: 100%;
}

.wp-block-nk-awb{
    font-family: Arial, Helvetica, sans-serif;
}

.front-page .qui-sommes-nous {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    animation-name: fadeInRight;
    animation-duration: 5s;
}

.front-page .qui-sommes-nous h2{
    text-decoration: none;
    font-weight: normal;
}

.front-page .qui-sommes-nous p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%!important;
    margin: 0 auto 10px auto;
}

.front-page .nos-partenaires{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    padding: 0 0 25px 0;

}

.front-page .nos-partenaires h2, .front-page .nos-partenaires p, .front-page .nos-partenaires .wp-block-columns{
    animation-name: fadeInLeft;
    animation-duration: 5s;
} 

.front-page .nos-partenaires p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 55%!important;
    margin: 0 auto 10px auto;
}

.front-page .nos-partenaires .wp-block-columns{
    padding-top: 25px;
}

.front-page .nos-partenaires h2, .front-page .nos-valeurs h2, .front-page .notre-materiel h2{
    text-decoration: none;
    font-family: Florest, Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: normal;
}

.front-page .nos-valeurs{
    height: 500px;
}

.front-page .nos-valeurs .wp-block-columns{
    padding: 25px 0;
    font-size: 20px;
}

.front-page .nos-valeurs h2, .front-page .nos-valeurs .wp-block-columns{
    animation-name: fadeInRight;
    animation-duration: 5s;
}

#loop article {
    margin: 0 0 50px 0;
    padding: 20px;
    border: 1px solid #ccc;
}

.wp-block-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wp-block-columns {
    margin-bottom: 0;
}

.wp-block-media-text {
    padding: 20px;
}

.map-who img {
    width: 60%!important;
    height: 50%!important;
}

.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    text-align: center;
    background-color: #cbcbcb52;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    animation: fadeIn 5s;
}

.touslescontenus {
    display: flex;
    justify-content: space-evenly;
    padding-top: 44px;
    padding-bottom: 44px;
}

.contenutexte {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: inherit;
    padding: 10px;
    background-color: #b9d6b9;
    height: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

#pagination {
    text-align: center;
    margin: 0 0 100px 0;
}

#sidebar {
    padding: 0 0 0 50px;
    flex: 0 0 350px;
}

#sidebar .widget {
    padding: 20px;
    margin: 0 0 20px 0;
    background: #fff;
    border: 1px solid #ccc;
}

#footer {
    padding: 100px 0;
    display: flex;
    background: #23282d;
    color: #f1f1f1;
}

#footer .widget {
    flex: 1;
    padding: 0 40px;
}

@media screen and (max-width: 959px) {
    #wrap {
        width: 100%;
        flex-direction: column;
        padding: 0 20px;
    }
    #sidebar {
        padding: 0;
    }
    #footer {
        flex-direction: column;
    }
}

/* Page Activités */

.page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.page_content p {
    margin: 10px 0;
}

.bloc_entier {
    margin: 100px auto;
    width: 1600px;
    box-shadow: 5px -5px 8px 3px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    color: white;
    font-size: 20px;
}

.bloc_titre h2 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 90, 51);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 50px;
    font-weight: normal;
    color: white;
}

.bloc_contenu {
    height: 600px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bloc_contenu p {
    width: 80%;
    word-wrap: break-word;
    margin: 0 auto;
}

.bloc_contenu ul {
    width: 80%;
    word-wrap: break-word;
    margin: 0 auto;
}

.bloc_img {
    height: 600px;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}

.bloc2 {
    display: flex;
    background: linear-gradient(135deg, rgba(17, 59, 91, 0.95) 0%, rgba(17, 59, 91, 0.5)), url("./stump.png");
    background-size: cover;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bloc2 img {
    margin: 0 auto;
    border-radius: 25px;
}

/* Responsive activités */

@media (max-width: 360px) {
    #header h1 {
        font-size: 38px;
    }
    .bloc_titre h2 {
        font-size: 17px;
    }
    .bloc_entier {
        width: 100%;
    }
    .bloc_contenu {
        height: 250px;
        width: 100%;
    }
    .bloc_contenu span {
        font-size: 17px;
    }
    .bloc2 {
        flex-direction: column;
    }
    .bloc_img {
        height: 280px;
        width: 100%;
    }
    .bloc2 img {
        height: 280px;
        min-width: 355px;
    }
    
}

@media (max-width: 480px) {
    .bloc_titre h2 {
        font-size: 17px;
    }
    .bloc_entier {
        width: 100%;
    }
    .bloc_contenu {
        height: 250px;
        width: 100%;
    }
    .bloc_contenu span {
        font-size: 17px;
    }
    .bloc2 {
        flex-direction: column;
    }
    .bloc_img {
        height: 280px;
        width: 100%;
    }
    .bloc2 img {
        height: 280px;
        min-width: 355px;
    }
    .page_content {
        font-size: 17px;
    }
    .touslescontenus {
        flex-direction: column;
        align-items: center;
    }
    .contenu {
        width: 360px;
        margin-bottom: 35px;
    }
    .contenutexte{
        height: 140px;
    }
    .front-page .nos-partenaires h2, .front-page .nos-valeurs h2, .front-page .notre-materiel h2 {
        text-decoration: none;
        font-family: Florest, Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: normal;
    }

    .front-page .nos-valeurs {
        height: 650px;
    }
}

/* Page Engagement */

.wp-block-media-text {
    direction: ltr;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto;
}

.wp-block-media-text__media {
    display: flex;
    justify-content: center;
}

.wp-block-media-text__media img, .wp-block-media-text__media .wp-image-168 {
    max-width: unset;
    width: 256px;
    height: 256px;
    align-items: center;
}

.wp-block-media-text__media img, .wp-block-media-text__media .wp-image-172 {
    max-width: unset;
    width: 256px;
    height: 256px;
    align-items: center;
}

.wp-block-media-text__content .has-large-font-size {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 75%;
    margin: 0;
}

.wp-block-group:nth-child(2n+1) {
    background-color: #b9d6b9;
}

.wp-block-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
    padding: 50px 0;
}

.wp-block-group i {
    font-size: 50px;
}

.wp-block-group h2 {
    font-size: 35px;
    text-decoration: underline;
}

.wp-block-group p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 50%;
    margin: 0 auto 10px auto;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}

@media (max-width: 480px) {
    .contact-title {
        font-size: 20px;
        font-weight: normal;
    }
    .subtitle {
        font-size: 20px;
    }
    .wp-block-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10% 0;
    }
    .wp-block-group h2 {
        font-size: 25px;
        text-decoration: underline;
        font-weight: normal;
    }
    .wp-block-group p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .wp-block-group i {
        font-size: 35px;
    }
    .wp-block-media-text__content .has-large-font-size {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        width: 100%;
        margin: 0;
    }
    .wp-block-media-text__media img, .wp-block-media-text__media .wp-image-168 {
        max-width: unset;
        width: 128px;
        height: 128px;
        align-items: center;
    }
    .wp-block-media-text__media img, .wp-block-media-text__media .wp-image-172 {
        max-width: unset;
        width: 128px;
        height: 128px;
        align-items: center;
    }
}

/* Footer */

.footer-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    background-color: #23282d;
    padding: 20px 0;
}

footer .menu {
    padding-top: 0px;
}

#menu-menu-footer-1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#menu-menu-footer-1 .menu-item {
    list-style-type: none;
}

#menu-menu-footer-1 .menu-item a {
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
}

.contact-content {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px;
    font-size: 18px;
}

.contact-content.title {
    text-decoration: underline;
}

.footer-copyright {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    padding: 0 50px;
}

.footer-copyright p {
    margin: 0;
}

img.logo-footer {
    width: 10%;
}

@media (max-width: 480px) {
    img.logo-footer {
        display: none;
    }
    .menu-item a {
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        position: relative;
        color: white;
    }
    .footer-contact {
        width: 50%;
    }
    .footer-group .menu-footer-menu-container {
        width: 50%;
    }
    .contact-content {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 5px;
        font-size: 14px;
    }
    .footer-copyright {
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
    }
}

/* Page 404 */

/* --> Header 404 <-- */

#header404 {
    margin: 0;
    padding: 10px 0;
    background-color: #295029;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-menu404 {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
}

.header-menu404 .menu-item {
    padding: 0 100px;
    list-style-type: none;
}

.header-menu404 .menu-item a {
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: white;
}

.header-menu404 .menu-item a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.header-menu404 .menu-item a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo-content404 {
    display: flex;
    justify-content: center;
}

.header-content404 {
    width: 75%;
    text-align: center;
}

.logo-content404 img {
    width: 40%;
}

.page404 {
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.goHome {
    color: #f1f1f1;
    background-color: #23282d;
    padding: 10px;
    border-radius: 15px;
}

.goHome:hover {
    color: #23282d;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 15px;
    border: solid black 2px;
    text-decoration: none;
}

@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(2000px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-2000px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }

 @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }